---
import Section from "./Section.astro";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  {
    projects.map(({ name, summary, linkSource }) => {
      return (
        <div class="mb-8 rounded-2xl border border-neutral/20 bg-[#1c232d]/85 p-6 md:p-8">
          <h3 class="mb-3 font-serif text-2xl font-medium text-primary">
            {name}
          </h3>
          <p class="mb-6 text-base text-neutral">{summary}</p>
          <div class="flex gap-5 text-white">
            <a
              href={linkSource}
              target="_blank"
              class="after:relative after:-bottom-1.25 after:content-[url(/external.svg)] hover:underline"
            >
              Source
            </a>
          </div>
        </div>
      );
    })
  }
</Section>
